* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: red;
}

header {
  background-color: orange;
}

.print-size {
  font-size: 10px;
  font-weight: bolder;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 1px
  }
  
  #myUL li a {
    border: 2px dotted red; /* Add a border to all links */
    margin-top: -2px; /* Prevent double borders */
    background-color: black; /* Black background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: white; /* Add a white text color */
    display: inline-block; /* Make it into a inline block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: blue; /* Add a hover effect to all links, except for headers */
    color: black; /* When hovered changes color to black */
    border-radius: 50px;
    border-style: double;
    transition: 1000ms;
  }